<html>
<style>


</style>

<body>
<h1>Registration</h1>
<form method="post" action="/registration/registerUser">
    <label>Username<input type="text" id="username" name="username" placeholder="username"></label>
    <label>Password<input type="text" id="password" name="password" placeholder="password"></label>
    <label>Confirm Password<input type="text" id="confirmPassword" name="confirmPassword" placeholder="confirmPassword"></label>
    <button type="submit">Register</button>
</form>
</body>

</html>